<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Conor Power</title>
    <link rel="icon" href="https://github.com/conorgpower/personal_portfolio/blob/main/assets/images/logo.png?raw=true">
    <!-- Include Bootstrap CSS -->
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css">
</head>


<body>
    <!-- Navbar -->
    <nav class="navbar navbar-dark bg-primary sticky-top">
        <a class="navbar-brand" href="#" style="font-weight: 500;">
            Conor Power
        </a>
    </nav>

    <!-- Landing Page -->
    <div class="bg-image" style="background-image: url('https://github.com/conorgpower/personal_portfolio/blob/main/assets/images/background.jpeg?raw=true'); width: 100%; height: 95vh; background-position: center; background-repeat: no-repeat; background-size: cover;">
        <div class="container h-100">
            <div class="row align-items-center h-100">
                <div class="col-8 mx-auto">
                    <h1 class="text-center" style="color: #fff;  font-size: 60px" >
                        Conor Power
                    </h1>
                    <h2 class="text-center" style="color: #fff; font-weight: 300;  margin-bottom: 30px;" >
                        Data Scientist, Machine Learning Engineer and Project Manager
                    </h2>
                    <button class="btn btn-default">
                        <img src="https://github.com/conorgpower/personal_portfolio/blob/main/assets/images/facebook.png?raw=true" color="white" alt="Facebook" width="35px"/>
                    </button>
                    <button class="btn btn-default" href="https://twitter.com/connie_peeee">
                        <a href="https://twitter.com/connie_peeee"></a>
                        <img src="https://github.com/conorgpower/personal_portfolio/blob/main/assets/images/twitter.png?raw=true" color="white" alt="Facebook" width="35px"/>
                    </button>
                    <button class="btn btn-default">
                        <img src="https://github.com/conorgpower/personal_portfolio/blob/main/assets/images/instagram.png?raw=true" color="white" alt="Facebook" width="35px"/>
                    </button>
                    <button class="btn btn-default">
                        <img src="https://github.com/conorgpower/personal_portfolio/blob/main/assets/images/linkedin.png?raw=true" color="white" alt="Facebook" width="35px"/>
                    </button>
                    <button class="btn btn-default">
                        <img src="https://github.com/conorgpower/personal_portfolio/blob/main/assets/images/github.png?raw=true" color="white" alt="Facebook" width="35px"/>
                    </button>
                    <button class="btn btn-default">
                        <img src="https://github.com/conorgpower/personal_portfolio/blob/main/assets/images/certificates.png?raw=true" color="white" alt="Facebook" width="35px"/>
                    </button>
                    <p class="text-center" style="color: #fff; font-size: 30px; font-style: oblique; font-weight: 300; margin-top: 30px;">
                        Predicting the future isn't magic, it's artificial intelligence.
                    </p>
                </div>
            </div>
        </div>
    </div>


    <!-- About Page -->
    <div class="container" style="min-width: 100vw; min-height: 100vh; background-color: #007bff">
        <div class="row justify-content-center">
            <div class="col-5 text-center">
                <img src="https://github.com/conorgpower/personal_portfolio/blob/main/assets/images/conor.jpg?raw=true">
            </div>
            <div class="col-5 text-left" style="color: #fff;">
                <h2>About</h2>
                <p style="text-align: justify;">
                    Conor Power is a Data Scientist and Data Product Manager with experience in identifying, 
                    designing, and implementing Data Science, Analyitics, and Artificial Intelligence projects 
                    across the automotive, finacial and agricultural industries. He has experience helping
                    startups and established companies leverage AI to build intelligent solutions to the leading
                    problems in their industries. He is also involved in the programming community and has 
                    volunteered to teach coding to kids as a part of the Coder Dojo.
                </p>
            </div>
        </div>
    </div>
</body>
