<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Conor Power</title>
    <link rel="icon" href="https://github.com/conorgpower/personal_portfolio/blob/main/assets/images/logo.png?raw=true">
    <!-- Include Bootstrap CSS -->
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css">
</head>


<body>
    <!-- Navbar -->
    <nav class="navbar navbar-dark bg-primary">
        <a class="navbar-brand" href="#">
            Conor Power
        </a>
    </nav>

    <!-- Landing Page -->
    <div class="bg-image" style="background-image: url('https://github.com/conorgpower/personal_portfolio/blob/main/assets/images/background.jpeg?raw=true'); width: 100%; height: 95vh; background-position: center; background-repeat: no-repeat; background-size: cover;">
        <div class="container h-100">
            <div class="row align-items-center h-100">
                <div class="col-8 mx-auto">
                    <h1 class="text-center" style="color: #fff;  font-size: 60px" >
                        Conor Power
                    </h1>
                    <h2 class="text-center" style="color: #fff; font-weight: 300;" >
                        Data Scientist, Machine Learning Engineer and Project Manager
                    </h2>
                    <button class="btn btn-default">
                        <img src="https://github.com/conorgpower/personal_portfolio/blob/main/assets/images/facebook.png?raw=true" color="white" alt="Facebook" width="50"/>
                   </button>
                    <p class="text-center" style="color: #fff; font-size: 30px; font-style: oblique; font-weight: 300; margin-top: 60px;">
                        Predicting the future isn't magic, it's artificial intelligence.
                    </p>
                </div>
            </div>
        </div>
    </div>
</body>
